
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">About Me</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>My Intro</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- about section -->
<section class="w3l-aboutblock1 py-5" id="about">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="position-relative">
                    <img src="~/images/MAN2.JPG" alt="" class="radius-image img-fluid">
                </div>
            </div>
            <div class="col-lg-8 ps-lg-5 mt-lg-0 mt-5">
                <h5 class="title-small mb-1">Mon intro</h5>
                <h3 class="title-style">A propos de Moi</h3>
                <p class="mt-3">
                    Salut, je m'appelle Mamel Alboury Ndiaye, étudiant en Master 2 iWOCS(ingenieur du web, des objets communicants et Systemes complexes) à l'université du Havre. 
                    J'ai 28 ans, 1m98 de taille et 90kg de poids.
                </p>
                <div class="my-info mt-md-5 mt-4">
                    <ul class="single-info">
                        <li class="name-style">Name</li>
                        <li>:</li>
                        <li>
                            <p>Mamel Alboury NDIAYE</p>
                        </li>
                    </ul>
                    <ul class="single-info">
                        <li class="name-style">Age</li>
                        <li>:</li>
                        <li>
                            <p>28 Years</p>
                        </li>
                    </ul>
                    <ul class="single-info">
                        <li class="name-style">From</li>
                        <li>:</li>
                        <li>
                            <p>Le Havre, France</p>
                        </li>
                    </ul>
                    <ul class="single-info">
                        <li class="name-style">Email</li>
                        <li>:</li>
                        <li>
                            <p><a href="mailto:maryateer@mail.com">mamelalboury@mail.com</a></p>
                        </li>
                    </ul>
                </div>
                <a href="#download" class="btn btn-style mt-5">Download CV</a>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!-- text with button -->
<section class="w3l-timeline-1 text-center py-5">
    <div class="container py-lg-5 py-4">
        <div class="mx-auto" style="max-width:800px">
            <h3 class="title-style mb-4">A part l'informatique, je suis passionné d'ecriture</h3>
            <p>
                J'aime imaginer et écrire des scénarios.

                Un de mes scénarios à pour titre : Colére pesante.

                Colére pesante est une histoire qui parle d'une jeune fille Yahomi, 
                qui vivait au temps de l'esclavage paisiblement avec ses parents dans un village reculé d'un pays africain. 
                Par des circonstances que je relate dans le recit, 
                elle et sa famille se retrouvent exposer dans un marché d'esclave dans un pays de l'occident.../.../...
            </p>
            <a href="services.html" class="btn btn-style mt-5">Learn More</a>
        </div>
    </div>
</section>
<!-- //text with button -->
<!-- about2 section -->
<section class="w3l-about2 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-6 pe-lg-5">
                <h4 class="title-style">Le master iWOCS avec ses nombreux projets en Java, WEB (React, nodejs, PHP...),
                Réseaux etc. me procure beaucoup de connaissances en codages avec divers 
                langages informatiques et la manipulation de différents outils informatiques.</h4>
                <div class="cwp23-text-cols mt-lg-5 mt-4">
                    <div class="column">
                        <span>Outils que j'aime utiliser</span>
                        
                        <p>En informatique, l'outil que l'on utilise dépend de ce que l'on veut produire. Pour une base de données, j'utilise oracle-mysql, postgreSql et mongoDB(en BigData). Des IDE comme eclipe et les IDEs de jetBrain( intelliJ, Pycharm, WebStorm...).
                        En JS j'utilise le plus souvent visual Studio Code et parfois WebStorm.
                        L'utilisation de git(github, gitlab) est trés utile pour garder ses projets.</p>
                    </div>
                    <div class="column">
                        <span>Java & JavaScript & Base de données </span>
                        <p>
                            On a fait de nombreux projets en JavaScript: React-router, Websocket, nodejs...
                            Je maitrise la création de bases de données sql, BigData, posSql... 
                            Je fais de la programmation en java depuis notre premier année à l'université du Havre.

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 cwp23-text align-self mt-lg-0 mt-5">
                <img src="~/images/blog5.jpg" alt="" class="radius-image img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //about2 section -->
<!-- qualification section -->
<section class="w3l-timeline-1 py-5">
    <div class="container py-lg-5 py-4">
        <div class="title-heading-w3 text-center mb-sm-5 mb-4">
            <h5 class="title-small">Resume</h5>
            <h3 class="title-style">Mon parcous</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="sub-title-timeline"><i class="fas fa-graduation-cap"></i> Education</h5>
                <div class="timeline">
                    <div class="column">
                        <div class="title">
                            <h2>Master 2 Informatique Iwocs</h2>
                        </div>
                        <div class="description">
                            <p>Université Le Havre</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2022 - 2023</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Master 1 Informatique iWOCS</h2>
                        </div>
                        <div class="description">
                            <p>Université Le Havre</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2021 - 2022</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Licence Informatique</h2>
                        </div>
                        <div class="description">
                            <p>Université Le Havre</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2016 - 2020</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Bac Scientifique s2</h2>
                        </div>
                        <div class="description">
                            <p>Lycée de Mbao, Sénégal</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2013 - 2014</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-lg-0 mt-4">
                <h5 class="sub-title-timeline"><i class="fas fa-briefcase"></i> Experience</h5>
                <div class="timeline">
                    <div class="column">
                        <div class="title">
                            <h2>Agent de Securité Et sauveteur secouriste du travail</h2>
                        </div>
                        <div class="description">
                            <p>Mondial Securité, ADS et ANS</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2022-2023 - Current</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Commis de cuisine</h2>
                        </div>
                        <div class="description">
                            <p> Taster Paris, Restaurant du Perrey Etretat, Blonville/Mer</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2020 - 2021</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2> Stage Licence 3</h2>
                        </div>
                        <div class="description">
                            <p>Litis, Université du Havre </p>
                            <h6><i class="fas fa-calendar-alt"></i> Avril-Juin 2020</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2> Enqueteur</h2>
                        </div>
                        <div class="description">
                            <p>BVA pour RATP </p>
                            <h6><i class="fas fa-calendar-alt"></i> 2016 - 2018 - 2019</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- common jquery plugin -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->
<!-- theme switch js (light and dark)-->
<script src="~/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->
<!-- MENU-JS -->
<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
</script>
<!-- //MENU-JS -->
<!-- disable body scroll which navbar is in active -->
<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
</script>
