
@{
    ViewBag.Title = "Mon Portfolio";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Mon Portfolio</h2>
<!-- banner section -->
<section class="w3l-banner py-5" id="home">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center pt-4">
            <div class="col-md-6 banner-left pe-xl-5">
                <h4>Salut, je suis Mamel Alboury NDIAYE</h4>
                <h3 class="mb-3 mt-1">Développeur</h3>
                <p class="banner-sub me-md-5">
                    J'aime travailler avec Visual Studio et Visual Studio Code et j'adore utiliser le model 
                    MVC que ça soit avec ASP .Net C# ou avec Express Nodejs...
                    Je travaille aussi avec d'autres IDE.
                    Je suis très intéressé par la ciber sécurité.
                </p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <!-- animations icons -->
    <div class="icon-effects-w3-1 text-right">
        <img src="assets/images/icon2.png" alt="" class="img-fluid">
    </div>
    <div class="icon-effects-w3-2 text-right">
        <img src="assets/images/icon3.png" alt="" class="img-fluid">
    </div>
    <div class="icon-effects-w3-3 text-right">
        <img src="assets/images/icon1.png" alt="" class="img-fluid">
    </div>
    <div class="icon-effects-w3-4 text-right">
        <img src="assets/images/icon6.png" alt="" class="img-fluid">
    </div>
    <!-- //animations icons -->
</section>
<!-- //banner section -->
<!-- logo partners -->
<section class="w3l-clients pt-5 pb-4" id="clients">
    <div class="container">
        <div class="company-logos text-center">
            <div class="row mx-auto justify-content-center">
                <div class="col-md-2 col-sm-4 col-6 ">
                    <img src="assets/images/logo1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <img src="assets/images/logo2.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-4 col-6 mt-sm-0 mt-3">
                    <img src="assets/images/logo3.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-4 col-6 mt-md-0 mt-3">
                    <img src="assets/images/logo4.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-4 col-6 mt-md-0 mt-3">
                    <img src="assets/images/logo5.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //logo partners -->
<!-- grids section -->
<section class="w3l-bottom-grids-6 pt-sm-5 pb-5" id="features">
    <div class="container pt-lg-4">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-md-3 col-sm-4 ps-xl-5">
                <h3 class="ab-exper-count mb-sm-1 ps-lg-1">Master 2 iWOCS</h3>
                <p class="ab-content ps-lg-4">(Ingénieur du Web, des Objets Communicants et Sysèmes complexes)</p>
            </div>
            <div class="col-xl-8 col-md-9 col-sm-8 offset-xl-1 ps-xl-0 pe-xl-5 mt-sm-0 mt-4">
                <h3 class="title-style mb-sm-5 mb-4">J'aime le création de site web, de base de données et j'adore
                me renseigner sur la cibersecurité et l'IoT</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6 grids-feature">
                        <div class="area-box active">
                            <div class="icon-style">
                                <i class="fas fa-lightbulb"></i>
                            </div>
                            <h4>Design et API</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                        <div class="area-box">
                            <div class="icon-style">
                                <i class="fas fa-laptop-code"></i>
                            </div>
                            <h4>Dev Web et ASP .NET</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //grids section -->
<!-- about section -->
<section class="w3l-aboutblock1 pt-lg-5 pt-2 pb-5" id="about">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="position-relative">
                    <img src="assets/images/MAN2.JPG" alt="" class="radius-image img-fluid">
                </div>
            </div>
            <div class="col-lg-8 ps-lg-5 mt-lg-0 mt-5">
                <h5 class="title-small mb-1">My Intro</h5>
                <h3 class="title-style">About Me</h3>
                <p class="mt-3">
                    Salut, je m'appelle Mamel Alboury Ndiaye, étudiant en Master 2 iWOCS(ingenieur du web, des objets communicants et Systemes complexes) à l'université du Havre.
                    J'ai 28 ans, 1m98 de taille et 90kg de poids.
                </p>
                <div class="my-info mt-md-5 mt-4">
                    <ul class="single-info">
                        <li class="name-style">Name</li>
                        <li>:</li>
                        <li>
                            <p>Mamel Alboury Ndiaye</p>
                        </li>
                    </ul>
                    <ul class="single-info">
                        <li class="name-style">Age</li>
                        <li>:</li>
                        <li>
                            <p>28 Years</p>
                        </li>
                    </ul>
                    <ul class="single-info">
                        <li class="name-style">From</li>
                        <li>:</li>
                        <li>
                            <p>Le Havre, France</p>
                        </li>
                    </ul>
                    <ul class="single-info">
                        <li class="name-style">Email</li>
                        <li>:</li>
                        <li>
                            <p><a href="mailto:maryateer@mail.com">mamelalboury@mail.com</a></p>
                        </li>
                    </ul>
                </div>
      
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!-- qualification section -->
<section class="w3l-timeline-1 py-5">
    <div class="container py-lg-5 py-4">
        <div class="title-heading-w3 text-center mb-sm-5 mb-4">
            <h5 class="title-small">Resume</h5>
            <h3 class="title-style">Mon Parcours</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="sub-title-timeline"><i class="fas fa-graduation-cap"></i> Education</h5>
                <div class="timeline">
                    <div class="column">
                        <div class="title">
                            <h2>Master 2 Informatique Iwocs</h2>
                        </div>
                        <div class="description">
                            <p>Université Le Havre</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2022 - 2023</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Master 1 Informatique iWOCS</h2>
                        </div>
                        <div class="description">
                            <p>Université Le Havre</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2021 - 2022</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Licence Informatique</h2>
                        </div>
                        <div class="description">
                            <p>Université Le Havre</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2016 - 2020</h6>
                        </div>
                    </div>
                     <div class="column">
                            <div class="title">
                                <h2>Bac Scientifique s2</h2>
                            </div>
                            <div class="description">
                                <p>Lycée de Mbao, Sénégal</p>
                                <h6><i class="fas fa-calendar-alt"></i> 2013 - 2014</h6>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-lg-0 mt-4">
                <h5 class="sub-title-timeline"><i class="fas fa-briefcase"></i> Experience</h5>
                <div class="timeline">
                    <div class="column">
                        <div class="title">
                            <h2>Agent de Securité Et sauveteur secouriste du travail</h2>
                        </div>
                        <div class="description">
                            <p>Mondial Securité, ADS et ANS</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2022-2023 - Current</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Commis de cuisine</h2>
                        </div>
                        <div class="description">
                            <p> Taster Paris, Restaurant du Perrey Etretat, Blonville/Mer</p>
                            <h6><i class="fas fa-calendar-alt"></i> 2020 - 2021</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2> Stage Licence 3</h2>
                        </div>
                        <div class="description">
                            <p>Litis, Université du Havre </p>
                            <h6><i class="fas fa-calendar-alt"></i> Avril-Juin 2020</h6>
                        </div>
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2> Enqueteur</h2>
                        </div>
                        <div class="description">
                            <p>BVA pour RATP </p>
                            <h6><i class="fas fa-calendar-alt"></i> 2016 - 2018 - 2019</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //qualification section -->
<!-- skills section -->
<section class="w3l-progress py-5" id="progress">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mb-sm-5 mb-4">
            <h5 class="title-small mb-1">My Skills</h5>
            <h3 class="title-style">Zone d'expertise'</h3>
        </div>
        <div class="row py-lg-4">
            <div class="col-lg-6 pe-lg-5">
                <div class="progress-info info1">
                    <h6 class="progress-tittle">
                        PHP <span class="">65%</span>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped gradient-1" role="progressbar"
                             style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info2">
                    <h6 class="progress-tittle">
                        HTML/CSS <span class="">95%</span>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped gradient-2" role="progressbar"
                             style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info3">
                    <h6 class="progress-tittle">JavaScript <span class="">60%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped gradient-3" role="progressbar"
                             style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info4 mb-0">
                    <h6 class="progress-tittle">React JS <span class="">80%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped gradient-4" role="progressbar"
                             style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-5 mt-lg-0 mt-5">
                <div class="progress-info info1">
                    <h6 class="progress-tittle">Nodejs, data modeling <span class="">60%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped gradient-1" role="progressbar"
                             style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info2">
                    <h6 class="progress-tittle">
                        Bootstrap, Bulma <span class="">95%</span>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped gradient-2" role="progressbar"
                             style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info3">
                    <h6 class="progress-tittle">
                        Java,python <span class="">80%</span>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped gradient-4" role="progressbar"
                             style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info4 mb-0">
                    <h6 class="progress-tittle">.Net C#, ASP <span class="">75%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped gradient-4" role="progressbar"
                             style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //skills section -->
<!-- projects section -->

<!-- //projects section -->
<!-- home service section -->

<!-- //home service section -->
<!-- testimonials section -->

<!-- //testimonials section -->
<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        }; 

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
</script>
<!-- //move top -->
<!-- common jquery plugin -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->
<!-- libhtbox -->
<script src="assets/js/lightbox-plus-jquery.min.js"></script>
<!-- libhtbox -->
<!-- testimonials owlcarousel -->
<script src="assets/js/owl.carousel.js"></script>
<script>
        $(document).ready(function () {
            $('.owl-two').owlCarousel({
                loop: true,
                margin: 30,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })
</script>
<!-- //script for Testimonials-->
<!-- theme switch js (light and dark)-->
<script src="assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->
<!-- MENU-JS -->
<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
</script>
<!-- //MENU-JS -->
<!-- disable body scroll which navbar is in active -->
<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
</script>
